.WelcomeImage {
  width: 100%;
  height:100%;
  background-color: #fff;
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  background-position: center;
}
