@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.p {
    color: white;
}

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
  color: #a5a4a4;
}

.title-container {
  height: 90vh;
  background: url("img/bg2.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  width: 40%;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  background-color: #2c3e50;
  height: 90vh;
  width: 60%;
  padding-top: 25px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}
button:hover {
  cursor: pointer;
  background-color: #cfe14e;
}
button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.row {
  flex-wrap : nowrap !important;
}

.container {
max-width: 1500px !important;
}

.innerMovie_Image {
    background: url("img/TheDictator_full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 155px;
    height: 225px;
    cursor: pointer;
}
.im2 {
    background: url("img/BohemianRapsody_full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 155px;
    height: 225px;
    cursor: pointer;

}

.im3 {
    background: url("img/Topgun_full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 155px;
    height: 225px;
    cursor: pointer;
}

.person_image {
    background: url("img/img_avatar1.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    width: 60px;
    height: 60px;
}

.person_image2 {
    background: url("img/img_avatar1.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    margin: 5px;
    width: 100px;
    height: 100px;
}

.feed_items {
    
}

.feed_items lu {
    text-decoration: none;
    list-style-type: none;
}

.feed_items li {
    float: none;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    cursor:pointer;
}

.movie-items lu {
    text-decoration: none;
    list-style-type: none;
}

.movie-items li {
    float: none;
    cursor:pointer;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    width: 250px;
}

.list-badge {
    cursor:pointer;
    
}
.top-5 {
    float: left;
    width: 40%;
}

.watched {
    float: left;
    padding-left: 50px;
    width: 40%;
}

.reviews {

    display: inline-block;
    width: 40%;
}

.events {
    position: fixed;
    display: inline-block;
    padding-left: 50px;
    width: 40%;
}

.movielist-items {
    float: left;
    padding-top: 20px;
    position: relative;
}

.movie-lists {
    display: table;
    margin: 15px;
}

.feed {
  align-self: center;
  width: 95%;
  height: 95%;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  background-color: #2c3e50;
}

.feed_comments {
    align-content: flex-start;
    overflow-x:hidden;
    overflow-y:auto;
    height: 95%;
    width: 95%;
    margin-left: 15px;
    margin-top: 40px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.feedItems_container {
  padding-left: 25px;
  padding-top: 25px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.movie_list {

}

.movie_list, ul {
  text-decoration: none;
  list-style-type: none;
}

.person-info {
    padding-right: 15px;
}
.movie_list, li {
  float: left;
  width: auto;
  height: auto;
  margin: 5px;

}

.movieList_container {
  margin-top: 80px;
  text-align: left;
  position: fixed;
  padding-bottom: 75px;
  bottom: 0;
}

.login_container {
  float: right;
  margin-right: 25px;
}

.myPage_container {
    float: right;
    clear: right;
    padding-top: 15px;
    margin-right: 25px;
}

.search_container {
  float: right;
  clear: right;
  padding-top: 15px;
  margin-right: 25px;
}

.badge {
    color: white;
    background-color: #2196F3;    
    position: fixed;
}

.scrollbar
{
	margin-left: 22px;
        border-radius: 15px;
	float: left;
	background: #2c3e50;
	overflow-y: scroll;
	margin-bottom: 25px;
        height: 90%;
}

.person-text {
    color: #a5a4a4;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;

}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f16051;
}
